#calendar
{
	cursor: default;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 0 0 3px #535353;
	text-align: center;
}

/*thead*/
#year, #week th
{	
	background-color: rgba(53, 53, 53, 0.2);
	padding: 5px 10px;
	font-weight: normal;
}

#year, #lastMonth, #nextMonth
{
	cursor: pointer;
	position: relative;
	bottom: 3px;
	padding: 3px;
}

#year
{
	font-size: 24px;
	border-radius: 5px;
}
#year:active {background-color: rgba(53, 53, 53, 0.5);}

#lastMonth, #nextMonth
{
  	border-radius: 8px;
  	border-style: solid;
}

#lastMonth
{
	right: 5px;
	border-width: 15px 25px 15px 0;
	border-color: transparent rgba(53, 53, 53, 0.2) transparent transparent;
}
#lastMonth:active {border-color: transparent rgba(53, 53, 53, 0.5) transparent transparent;}

#nextMonth
{
	left: 5px;
	border-width: 15px 0 15px 25px;
	border-color: transparent transparent transparent rgba(53, 53, 53, 0.2);
}
#nextMonth:active {border-color: transparent transparent transparent rgba(53, 53, 53, 0.5);}

/*tbody*/
#calendar tbody td
{
	cursor: pointer;
	padding: 5px 10px;
	-webkit-transition: background-color 0.1s linear;
	   -moz-transition: background-color 0.1s linear;
		 -o-transition: background-color 0.1s linear;
			transition: background-color 0.1s linear;
}
#calendar tbody td:hover {background-color: rgba(38, 152, 227, 0.5);}
	
#calendar #ignoreData {visibility: hidden;}

#calendar .selected
{
	background-color: rgba(53, 53, 53, 0.4);
	box-shadow: inset 0px 0px 3px rgba(35, 35, 35, 0.5);
}

/*tfoot*/
#calendar hr {margin: 5px 0;}
#calendar input[type="number"]
{
	width: 36px;
	border: 1px solid #696969;
	border-radius: 3px;
	padding: 2px;
	text-align: right;
	font-size: 0.8em;
}

#calendar input[type="range"] {width: 200px;}

#calendar caption
{
	padding: 10px;
	font-size: 1.2em;
	font-weight: bold;
}